# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.cache/
*.log

# Docker
*.pid
*.tar
*.db
*.sqlite3

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.idea/
*.iml

